@font-face {
    font-display: swap;
    font-family: 'Nunito Sans-400';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/nunito-sans-v15-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans-600';
    font-style: normal;
    font-weight: 600;
    src: url('./public/font/nunito-sans-v15-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans-800';
    font-style: normal;
    font-weight: 800;
    src: url('./public/font/nunito-sans-v15-latin-800.woff2') format('woff2');
}
::-webkit-scrollbar {
    width: 0px;
}
    body,
    #header {
        transition: background-color 0.5s, color 0.5s;
    }
        input[type="text"] {
            transition: background-color 0.5s, color 0.5s;
        }
        #cars{
            transition: background-color 0.5s, color 0.5s;
        }
header .container .left{
    font-family: 'Nunito Sans-800';
}
#cars{
    font-family: 'Nunito Sans-600';
}
 
.card{

    transition: background-color 0.5s, color 0.5s;
    width: 264px;
border:none;
background-color:#2B3844;
color: #FFFFFF;
box-shadow: 0px 0px 33px 4px rgba(34, 60, 80, 0.2);
border-radius: 8px;
    img {
            border-radius: 8px 8px 0px 0px;
            width: 303.86px;
            height: 160px;
        }
        h2{
        padding-left: 24px;
        padding-top: 24px;
            padding-bottom: 10px;
        }
        p{
            padding-bottom: 5px;
        padding-left: 24px;
        }
}
.card p:nth-child(6){
        padding-bottom: 46px;
}

.card_parrent{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 74px;
}