@font-face {
    font-display: swap;
    font-family: 'Nunito Sans-400';
    font-style: normal;
    font-weight: 400;
    src: url('./public/font/nunito-sans-v15-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Nunito Sans-600';
    font-style: normal;
    font-weight: 600;
    src: url('./public/font/nunito-sans-v15-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans-800';
    font-style: normal;
    font-weight: 800;
    src: url('./public/font/nunito-sans-v15-latin-800.woff2') format('woff2');
}
    body,
    #header {
        transition: background-color 0.5s, color 0.5s;
    }
        input[type="text"] {
            transition: background-color 0.5s, color 0.5s;
        }
header .container .left{
    font-family: 'Nunito Sans-800';
}